<nav>
	<ul>
		<li><a routerLink=""><img src="/assets/img/bstorm_training.png" alt="BStorm Logo"></a></li>
		<li><a routerLink="home" routerLinkActive="is-active">Home</a></li>
		<li><a routerLink="about" routerLinkActive="is-active">About</a></li>
		<li>
			<a routerLink="demos" routerLinkActive="is-active">Demos</a>
			<ul>
				<li><a routerLink="demos/demo1" routerLinkActive="is-active">One-Way Binding</a></li>
				<li><a routerLink="demos/demo2" routerLinkActive="is-active">Two-Way Binding</a></li>
				<li><a routerLink="demos/demo3" routerLinkActive="is-active">Event Binding</a></li>
				<li><a routerLink="demos/demo4" routerLinkActive="is-active">Attribute Binding</a></li>
				<li><a routerLink="demos/demo5" routerLinkActive="is-active">Pipes</a></li>
				<li><a routerLink="demos/demo6" routerLinkActive="is-active">Component Directives</a></li>
				<li><a routerLink="demos/demo7" routerLinkActive="is-active">Structural Directives</a></li>
				<li><a routerLink="demos/demo8" routerLinkActive="is-active">Input / Output</a></li>
				<li><a routerLink="demos/demo9" routerLinkActive="is-active">Service et injection</a></li>
				<li><a routerLink="demos/demo10" routerLinkActive="is-active">Formulaires</a></li>
				<li><a routerLink="demos/demo11" routerLinkActive="is-active">Custom Validator</a></li>
				<li><a routerLink="demos/demo12" routerLinkActive="is-active">Routing</a></li>
				<li><a routerLink="demos/demo13" routerLinkActive="is-active">Guard</a></li>
				<li><a routerLink="demos/demo14" routerLinkActive="is-active">Resolver</a></li>
				<li><a routerLink="demos/demo15" routerLinkActive="is-active">Session</a></li>
				<li><a routerLink="demos/demo16" routerLinkActive="is-active">Observable</a></li>
			</ul>
		</li>
		<li>
			<a routerLink="exercice" routerLinkActive="is-active">Exercices</a>
			<ul>
				<li><a routerLink="exercices/exercice1" routerLinkActive="is-active">Exercice 1</a></li>
				<li><a routerLink="exercices/exercice2" routerLinkActive="is-active">Exercice 2</a></li>
				<li><a routerLink="exercices/exercice3" routerLinkActive="is-active">Exercice 3</a></li>
				<li><a routerLink="exercices/exercice4" routerLinkActive="is-active">Exercice 4</a></li>
			</ul>
		</li>
		<li><a routerLink="404">Page introuvable</a></li>

		<li *ngIf="!isConnected"><a (click)="login()">Connexion</a></li>
		<li *ngIf="isConnected"><a (click)="logout()">Déconnexion</a></li>
	</ul>
</nav>