<nav class="d-flex flex-row flex-align-items-center p-10">
  <a href="home" class="logo p-20">Demo Angular</a>

  <ul>
    <li>
      <a routerLink="demos">Démonstration</a>
      <ul>
        <li>
          <a routerLink="/demos/demo01" routerLinkActive="active-link">
            ✅ Demo 01 - Property Binding (One-Way)
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo02" routerLinkActive="active-link">
            ✅ Demo 02 - Property Binding (Two-Way)
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo03" routerLinkActive="active-link">
            ✅ Demo 03 - Event Binding
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo04" routerLinkActive="active-link">
            ✅ Demo 04 - Attribute Binding
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo05" routerLinkActive="active-link">
            ✅ Demo 05 - Les bases du routing
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo06" routerLinkActive="active-link">
            ✅ Demo 06 - Les Pipes
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo07" routerLinkActive="active-link">
            ✅ Demo 07 - Les Custom Pipes
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo08" routerLinkActive="active-link">
            ✅ Demo 08 - Les directives de composants
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo09" routerLinkActive="active-link">
            ✅ Demo 09 - Les directives structurelles
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo10" routerLinkActive="active-link">
            ✅ Demo 10 - Les Custom Directives
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo11" routerLinkActive="active-link">
            ✅ Demo 11 - Les Input & Output
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo12" routerLinkActive="active-link">
            ✅ Demo 12 - Services et Injection de
            dépendances</a>
        </li>
        <li>
          <a routerLink="/demos/demo13" routerLinkActive="active-link">
            ✅ Demo 13 - Cycle de vie d'un composant
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo14" routerLinkActive="active-link">
            ✅ Demo 14 - Les formulaires (Validators)
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo15" routerLinkActive="active-link">
            ✅ Demo 15 - Les Custom Validators
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo16" routerLinkActive="active-link">
            ✅ Demo 16 - Le routing
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo17" routerLinkActive="active-link">
            ✅ Demo 17 - Les Guards
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo18" routerLinkActive="active-link">
            ✅ Demo 18 - Resolver
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo19" routerLinkActive="active-link">
            ✅ Demo 19 - Les Storages
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo20" routerLinkActive="active-link">
            ✅ Demo 20 - Les Observables
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo21" routerLinkActive="active-link">
            ✅ Demo 21 - Le HttpClient
          </a>
        </li>
        <li>
          <a routerLink="/demos/demo22" routerLinkActive="active-link">
            ✅ Demo 22 - L'Interceptor
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="exercices">Exercices
      </a>
      <ul>
        <li>
          <a routerLink="/exercices/exo01" routerLinkActive="active-link">
            ✅ Exercice 01 - Le profil
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo02" routerLinkActive="active-link">
            ✅ Exercice 02 - Complétion du profil
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo03" routerLinkActive="active-link">
            ✅ Exercice 03 - Le chronomètre (basique)
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo04" routerLinkActive="active-link">
            ✅ Exercice 04 - Toggle password
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo05" routerLinkActive="active-link">
            ✅ Exercice 05 - Menu complet
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo06" routerLinkActive="active-link">
            ❌ Exercice 06 -
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo07-1" routerLinkActive="active-link">
            ✅ Exercice 07.1 - Le chronomètre (Pipe)
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo07-2" routerLinkActive="active-link">
            ✅ Exercice 07.2 - Convertisseur de degré C° |
            F°</a>
        </li>
        <li>
          <a routerLink="/exercices/exo08" routerLinkActive="active-link">
            ✅ Exercice 08 - Générateur de formes
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo09" routerLinkActive="active-link">
            ✅ Exercice 09 - Panier de courses
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo10" routerLinkActive="active-link">
            ❌ Exercice 10 -
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo11" routerLinkActive="active-link">
            ✅ Exercice 11 - Shopping List
          </a>
        </li>
        <li>
          <a routerLink="/exercices/exo21" routerLinkActive="active-link">
            ✅ Exercice 21 - Pokedex avec HttpClient
          </a>
        </li>
      </ul>
    </li>

    <li>statusSubject : {{ isConnected ? "Connecté" : "Déconnecté" }}</li>
    <li>statusBehaviorSubject : {{ isConnected ? "Connecté" : "Déconnecté" }}</li>

  </ul>
</nav>