<h2>Demo 12 - Services et Injection de dépendances</h2>

<p>
    Injection de dépendance n'est pas native à Angular. C'est un paradygme de développement qui permet de gérer les dépendances entre les différents objets de l'application.
</p>

<p>État de connexion : {{ isConnected ? 'Connecté' : 'Déconnecté' }}</p>


<div *ngIf="!isConnected" class="dblock">

    <p *ngIf="message">{{ message }}</p>

    <label>Identifiant :</label>
    <input type="text" [(ngModel)]="username">
    
    <label>Mot de passe :</label>
    <input type="password" [(ngModel)]="password">

    <button (click)="logIn()">Connexion</button>

</div>
<button *ngIf="isConnected" (click)="logOut()">Déconnexion</button>