<h2>Demo 08 - Les directives structurelles</h2>

<p>Les directives structurelles sont utilisées pour manipuler la structure du DOM en fonction des données du composant
</p>
<p>Elles sont généralement préfixées par le caractère * et permettent de créer des éléments conditionnels ou répétitifs
    dans le template.</p>

<p>Il existe plusieurs directives structurelles :</p>
<ul>
    <li>*ngIf : affiche un élément HTML conditionnellement en fonction d'une expression booléenne.</li>
    <li>*ngFor : permet de répéter un élément HTML pour chaque élément d'un tableau.</li>
    <li>*ngSwitch : permet d'afficher différents éléments HTML en fonction de la valeur d'une variable.</li>
</ul>

<h3>*ngIf</h3>

<button (click)="toggle()">Clique sur moi</button>

<div *ngIf="isToggled; else elseblock">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem cum eos inventore odio. Eaque soluta omnis
    velit odit, quos id cumque cupiditate quod enim laborum fuga laudantium delectus blanditiis qui.
</div>

<p>
    Il est impossible d’utiliser plus d’une directive structurelle par élément. (ngIf et ngFor en même temps.)
</p>

<ng-template #elseblock>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi.
    </div>
</ng-template>

<h3>*ngFor</h3>
<ul>
    <li *ngFor="let fruit of liste; let i = index; let pair = even">
        <p [ngClass]="{classe: pair}">{{ i }} - {{ fruit }} - {{ pair }}</p>
    </li>
</ul>

<h4>NgSwitch</h4>

<input type="text" [(ngModel)]="inputValue">

<div [ngSwitch]="inputValue">
    <p *ngSwitchCase="1">Pomme</p>
    <p *ngSwitchCase="2">Poire</p>
    <p *ngSwitchCase="3">Pêche</p>
    <p *ngSwitchDefault>Entrez 1, 2 ou 3</p>
</div>