<h2>Exercices</h2>

<p>
    Pour vous habituer à utiliser les différentes notions vues dans les chapitres, vous pouvez vous exercer au travers
    de ces différents exercices.
</p>

<h3>Exercices présents :</h3>

<li>Exercice 01 - Le profil</li>
<li>Exercice 02 - Complétion du profil</li>
<li>Exercice 03 - Le chronomètre (basique)</li>
<li>Exercice 05 - Menu complet</li>
<li>Exercice 07.1 - Le chronomètre (Pipe)</li>
<li>Exercice 07.2 - Convertisseur degré</li>
<li>Exercice 08 - Générateur de formes</li>
<li>Exercice 09 - Panier de courses</li>
<li>Exercice 11 - Shopping list</li>